@model Course_Scheduler.Models.ViewModels.AddSemesterViewModel


@{
    ViewData["Title"] = "Edit";
    var courses = (List<Course>)ViewData["Courses"];
    var json = Json.Serialize((courses).Select(c => c.Name));
    var reqIdjson = Json.Serialize((courses).Select(c => c.ID));
    var courseCode = Json.Serialize((courses).Select(c => c.CourseCode));

}


<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form id="addCoursefrom" asp-action="Create">
            <input type="hidden" value="@Model.ID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoursesId" class="control-label"></label>
                <div class="input-group mb-3">
                    <input type="text" id="newItem" class="form-control" placeholder="Enter item here">
                    <button onclick="addItem()" type="button" class="btn btn-primary">Add Item</button>
                </div>
                <ul id="itemList" class="list-group"></ul>
                @foreach (var item in Model.CoursesId)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @(courses.First(c => c.ID == item).Name)
                        <input type="hidden" value="@item" class="requiredCourses">
                        <button class="btn btn-sm btn-outline-danger" type="button" onclick="RemoveItem(this)">Remove</button>
                    </li>
                }
            </div>
            <div class="form-group">
                <input type="button" onclick="submitFrom()" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        function submitFrom() {
            var from = document.getElementById("addCoursefrom");
            EditNameOfRequiredCourses();
            from.submit();
        }

        function EditNameOfRequiredCourses() {
            var inputs = document.querySelectorAll('input[class="CoursesId"]');
            console.log(inputs);

            inputs.forEach(function (item, index) {
                item.name = `CoursesId[${index}]`
            });
        }

        var Courses = @json;
        var requiredCourseIds = @reqIdjson;
        var courseCode = @courseCode;
        console.log(Courses);
        console.log(requiredCourseIds);
        console.log(courseCode);


        function addItem() {
            console.log("test");
            // Get the text from the input field
            var newItemText = document.getElementById("newItem").value;
            var indexOfNewItemText = Courses.indexOf(newItemText);
            var indexOfNewItemCode = courseCode.indexOf(newItemText);
            if (!newItemText || (indexOfNewItemText === -1 && indexOfNewItemCode == -1)) return; // Prevent empty items

            // Create a new list item element
            var newListItem = document.createElement("li");
            newListItem.classList.add("list-group-item", "d-flex", "justify-content-between", "align-items-center");
            if (indexOfNewItemCode == -1) {
                newListItem.textContent = newItemText;
            } else {
                newListItem.textContent = Courses[indexOfNewItemCode];
            }
            var newIput = document.createElement("input");
            if (indexOfNewItemCode == -1) {
                newIput.value = requiredCourseIds[indexOfNewItemText];
            } else {
                newIput.value = requiredCourseIds[indexOfNewItemCode];
            }
            newIput.type = "hidden";
            newIput.classList.add("CoursesId");
            newListItem.appendChild(newIput);

            // Add a remove button to each list item
            var removeButton = document.createElement("button");
            removeButton.classList.add("btn", "btn-sm", "btn-outline-danger");
            removeButton.textContent = "Remove";
            removeButton.onclick = function () {
                this.parentNode.remove();
            }
            newListItem.appendChild(removeButton);

            // Add the new list item to the existing list
            var itemList = document.getElementById("itemList");
            itemList.appendChild(newListItem);

            // Clear the input field for the next item
            document.getElementById("newItem").value = "";
            event.preventDefault();
        }
        function removeItem() {
            this.parentNode.remove();
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
