@{
    ViewData["Title"] = "Schedule";
}




<h1>Schedule</h1>


<div class="col">
    <form asp-action="GeneticAlgorithm">
        <div class="form-group">
            <label>Enter the count of Population</label>
            <input name="Count" type="number" class="form-control" placeholder="default 100" />
        </div>
        <button class="btn btn-outline-primary" type="submit">Genetic Algorithm</button>
    </form>
</div>