@{
    ViewData["Title"] = "Schedule";
    var semesters =(List<Semester>)ViewData["semester"];
}




<h1>Schedule</h1>


<div class="col">
    <form asp-action="GeneticAlgorithm">
        <div class="form-group">
            <label>Enter the count of Population</label>
            <input name="Count" type="number" class="form-control" placeholder="default 100" />
        </div>
        <br />
        <div class="form-group">
            <label>Enter the count of Unhealty try</label>
            <input name="UnhealtyCount" type="number" class="form-control" placeholder="default 1000" />
        </div>
        <br />
        @foreach (var semester in semesters)
        {
            <label for="@semester.ID">@semester.Name</label>
            <input type="radio" id="@semester.ID" name="semesterId" value="@semester.ID" />
        }
        <button class="btn btn-outline-primary" type="submit">Custom Genetic Algorithm</button>
    </form>
</div>